<header id="main_header" class="clearfix">

  <div class="wrapper_wide">
    <a href="#" id="logo">Podcast.fm</a>
    <nav>
      <ul>
        <li><a href="#"> Explore</a></li>
        <li><a href="#"> Sign In</a></li>
        <li><a href="#"> Create a Podcast</a></li>
      </ul>
    </nav>

  </div>
</header>

<div id="banner" class="sign_up_banner" >
  <h1>Welcome Back</h1>
</div>



<div id="form">
  <div class="wrapper_skinny">
    <form action="">

      <div class="field">
        <label for="">
          Email
        </label><br>
        <input type="email">
      </div>
      <div class="field">
        <label for="">
          Password
        </label><br>
        <input type="password">
      </div>

      <div class="actions">
        <input type="submit" class="button button_highlight button-block">


      </div>


    </form>
  </div>
</div>